<app-menu></app-menu>

<router-outlet></router-outlet>


<!-- <div class="text-layout">
    <h1>{{mensaje | uppercase }}</h1>
</div>

<hr>

<button pButton (click)="onCambiarNombre()" type="button" label="Iniciar Prueba" icon="pi pi-bell" iconPos="right" class="p-button-help"></button>

<hr>

<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <ng-template pTemplate="header">
        <img alt="Card" src="assets/showcase/images/usercard.png">
    </ng-template>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card>

<p-card header="Simple Card" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
        quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</p>
</p-card> -->
